*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html, body {
  width: 570px;
  min-height: 100vh;
  margin: 0 auto;
}

.header-container {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.header {
    margin: 20px;
}

.logo {
    width: 150px;
    height: 34px;
}

.user {
    width: 34px;
    height: 34px;
    border-radius: 50px;
}

.post-item {
    display: flex;
    flex-direction: column;
    list-style: none;
    border-bottom: 3px solid #f0f0f0;
}

.avatar {
    width: 34px;
    height: 34px;
    margin: 10px;
    border-radius: 50px;
}

.post-header {
  display: flex;
  flex-direction: column;
}

.name,
.username,
.post-likes {
  font-weight: 700;
}

.interactionBtn {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
}

.heart-image, 
.comment-image, 
.share-image {
  width: 23px;
  height: 23px;
  margin: 0 10px 0 0;
  cursor: pointer;
}

.heart-image:hover, 
.comment-image:hover, 
.share-image:hover {
  scale: 1.5;
  cursor: pointer;
}

.userComment {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
}

.post-comment {
  margin: 0 0 0 5px;
}



